<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Galeria - Cabrito Assado</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>


    <nav class="menu">

        <a href="/" class="botao-menu">

            <img
                src="{{ url_for('static', filename='imagens/home.png') }}"
                alt="Home"
            >

        </a>


        <a href="/galeria" class="botao-menu">

            <img
                src="{{ url_for('static', filename='imagens/galeria.png') }}"
                alt="Galeria"
            >

        </a>

    </nav>


    <main class="conteudo">

        <h1 class="titulo-galeria">
            Galeria
        </h1>

        <p class="galeria-vazia">
            Nenhuma foto adicionada ainda.
        </p>

    </main>


</body>

</html>